<html>
    <body>
        <h1>Proyecto {{ project.name }}</h1>
        <ul>
            {% for module in project.first_level_modules %}
                <li>
                    <a href="{% url 'module' project_id=project.id module_id=module.id %}">{{ module.slug }}</a>
                    {% if module.nested_issues %}
                        <ul>
                            {% for issue in module.nested_issues %}
                                <li>{{ issue.kind.name}} - {{ issue.file_name }} - {{ issue.description }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </body>
</html>
