{% extends "daprojects_webapp/base.html" %}

{% load i18n staticfiles %}

{% block content %}
    </div> <!--  close 'wrap' --><!-- FIXME: find a more elegant way to do this layout -->
    <div id="content_top_expanded"></div>

    <div id="content_bg_repeat_expanded">
        <h1>
            <a href="{% url 'project' project_id=project.id %}">{{ project.name }}</a> /
            <a href="{% url 'module' project_id=project.id module_id=module.id %}">{{ module.path }}</a>
        </h1>
        <div class="city_skyline">
            <div class="city_surface"></div>
            <div class="city_underground"></div>
            <div class="city_buildings">
                {% for child_module in module.get_children %}
                    <div class="city_building">
                        <a href="#">
                            <img src="{% static 'images/city/building_'%}{% cycle '1' '2' '3' %}.png" />
                            <div class="building_name"><p>{% if child_module.name %}{{ child_module.name }}{% else %}{{ child_module.slug }}{% endif %}</p></div>
                        </a>
                        <div class="dungeon_wrapper">
                            <div class="dungeon">
                                <div class="dungeon_left"></div>
                                <div class="dungeon_body"></div>
                                <div class="dungeon_right"></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% comment %}
        {% if module.issues.all %}
            <ul>
                {% for issue in module.issues.all %}
                    <li>{{ issue.kind.name}} - {{ issue.file_name }} - {{ issue.description }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if module.get_children %}
            <ul>
                {% for child_module in module.get_children %}
                    <li>
                        <a href="{% url 'module' project_id=project.id module_id=child_module.id %}">{{ child_module.slug }}</a>
                        {% if child_module.nested_issues %}
                            <ul>
                                {% for issue in child_module.nested_issues %}
                                    <li>{{ issue.kind.name}} - {{ issue.file_name }} - {{ issue.description }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endcomment %}
    </div>

    <div id="content_bottom_expanded"></div>
    <div id="wrap"> <!-- reopen wrap --><!-- TODO: change id to class -->
{% endblock %}
